body {
  margin: 0;
  background: #0b1020;
  color: white;
  font-family: system-ui;
}

.page-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

header h1 {
  text-align: center;
  margin-bottom: 20px;
}

main {
  display: flex;
  gap: 20px;
}

.form-section,
.chart-section {
  background: #121728;
  padding: 20px;
  border-radius: 14px;
}

.form-section {
  flex: 1;
}

.chart-section {
  width: 600px;
  text-align: center;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 10px;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
}

input {
  padding: 7px 10px;
  border-radius: 8px;
  border: none;
  background: #1b2342;
  color: white;
}

.file-label input {
  margin-top: 6px;
}

#imagePreview {
  width: 140px;
  height: 140px;
  object-fit: cover;
  margin-top: 10px;
  border-radius: 10px;
  background: #1b2342;
  border: 1px solid #2d355a;
}

.button-row {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

button {
  padding: 10px 14px;
  background: #6f4df7;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

canvas {
  margin-top: 20px;
}

/* Popup Modal */

.modal.hidden {
  display: none;
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.modal-content {
  background: #121728;
  padding: 20px;
  border-radius: 14px;
  width: 90%;
  max-width: 1300px;
  position: relative;
}

#modalWrapper {
  display: flex;
  gap: 30px;
}

.modal-left {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#modalImage {
  width: 100%;
  border-radius: 10px;
}

#modalInfo {
  font-size: 1rem;
  line-height: 1.5rem;
}

.modal-right {
  flex: 1;
  text-align: center;
}

.close-btn {
  position: absolute;
  right: 14px;
  top: 10px;
  background: #ff3d5f;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 6px 10px;
  font-size: 20px;
  cursor: pointer;
}
